<!-- templates/czat/index.html -->
<html>
    <head></head>
    <body>
        <h1>Witaj w aplikacji Czat!</h1>

        {% if message %}
            <ul>
                {% for komunikat in message %}
                    <li>{{ komunikat|capfirst }}</li>            
                {%  endfor %}
            </ul>
        {%  endif %}

        {% if user.is_authenticated %}
            <button type='submit' >Wyloguj</button>    
        {% else %}
            <button type='submit' >Zaloguj</button>
        {% endif %}

    </body>
</html>