<!-- prj_czat/czat/templates/czat/index.html -->
<html>
  <head></head>
  <body>
    <h1>Witaj w aplikacji Czat!</h1>

    {% if messages %}
      <ul>
        {% for komunikat in messages %}
          <li>{{ komunikat|capfirst }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if user.is_authenticated %}
      <p>Jesteś zalogowany jako użytkownik: {{ user.username }}</p>
      <ul>
        <li><a href="{% url 'czat:wiadomosci' %}">Wiadomości</a></li>
        <li><a href="{% url 'czat:wyloguj' %}">Wylogowanie</a></li>
      </ul>
    {% else %}
      <ul>
        <li><a href="{% url 'czat:loguj' %}">Logowanie</a></li>
      </ul>
    {% endif%}

  </body>
</html>